<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create product</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="/product/edit" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id_product}">
    <table>
        <tr>
            <td>Name Product</td>
            <td><input type="text" th:field="*{nameProduct}"/></td>
            <td th:if="${#fields.hasErrors('nameProduct')}" th:errors="*{nameProduct}"></td>
        </tr>
        <tr>
            <td>Price Product</td>
            <td><input type="text" th:field="*{price_product}"/></td>
            <td th:if="${#fields.hasErrors('price_product')}" th:errors="*{price_product}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>