<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>
        <a th:href="@{/product}">List Product</a>
    </h1>
    <form>
        Search by first name:
        <input name="s" type="text"/>
        <input type="submit" value="Search"/>
    </form>
    <p>
        <a th:href="@{/product/create}">
            create product
        </a>
    </p>
    <p>
        <a th:href="@{/product/cart}">
            Cart
        </a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="pro: ${product}">
            <tr>
                <td th:text="${pro.getId_product()}"></td>
                <td th:text="${pro.getNameProduct()}"></td>
                <td th:text="${pro.getPrice_product()}"></td>
                <td><a th:href="@{/product/edit/{id}(id=${pro.getId_product()})}">edit</a></td>
                <td><a th:href="@{/product/delete/{id}(id=${pro.getId_product()})}">delete</a></td>
                <td><a th:href="@{/product/view/{id}(id=${pro.getId_product()})}">view</a></td>
                <td>
                    <!--                <form action="/product/addtocart/3" method="post">-->
                    <a th:href="@{/product/addtocart/{id}(id=${pro.getId_product()})}">addtocart</a>
                    <!--                </form>-->
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/product'(page=${product.getNumber() - 1},s=${search})}"
           th:if="${product.hasPrevious()}">Previous</a>
        <span th:text="${product.getNumber() + 1}"></span>/<span th:text="${product.totalPages}"></span>
        <a th:href="@{'/product'(page=${product.getNumber() + 1},s=${search})}" th:if="${product.hasNext()}">Next</a>
    </div>
</div>
</body>
</html>