<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Information Product: <span th:text="${product.getNameProduct()}"></span></h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name Product</th>
        <th>Price Product</th>
    </tr>

    <tr>
        <td th:text="${product.getId_product()}"></td>
        <td th:text="${product.getNameProduct()}"></td>
        <td th:text="${product.getPrice_product()}"></td>
    </tr>

</table>
</body>

</html>