<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <a th:href="@{/create-province}">Create new province</a>
    <h1>
        <a th:href="@{/provinces}">Provinces</a>
    </h1>
    <table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <th:block th:each="province : ${provinces}">
        <tr>
            <td><a th:href="@{/view-province/__${province.getId_province()}__}" th:text="${province.name}"></a></td>
            <td><a th:href="@{/edit-province/{id}(id=${province.getId_province()})}">Edit</a></td>
            <td><a th:href="@{/delete-province/__${province.getId_province()}__ }">Delete</a></td>
        </tr>
    </th:block>
    </table>
</div>

</body>
</html>