<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>customer</title>
</head>
<body>
<div class="container">
    <a href="/">Home</a>
<form action="/displaydichvu" method="get">
    Search by cost between
    <select name="chiphithuebatdau" >
        <option value="1000000">1 trieu</option>
        <option value="2000000">2 trieu</option>
    </select>
    <select name="chiphithueketthuc" >
        <option value="1000000">1 trieu</option>
        <option value="2000000">2 trieu</option>
    </select>
    <input type="submit" value="Search"/>

</form>
    <br>
<table class="table table-danger">
    <tr>
        <th>IDDichVu</th>
        <th>TenDichVu</th>
        <th>Dientich</th>
        <th>SoTang</th>
        <th>Songuoitoida</th>
        <th>ChiPhiThue</th>
        <th>Trangthai</th>
        <th>Action</th>
    </tr>
    <th:block th:each="dichvu : ${listalldichvu}">
        <tr>
            <td th:text="${dichvu.getIdDichVu()}"></td>
            <td th:text="${dichvu.getTenDichVu()}"></td>
            <td th:text="${dichvu.getDienTich()}"></td>
            <td th:text="${dichvu.getSoTang()}"></td>
            <td th:text="${dichvu.getSoNguoiToiDa()}"></td>
            <td th:text="${dichvu.getChiPhiThue()}"></td>
            <td th:text="${dichvu.getTrangThai()}"></td>
            <td><a th:href="@{addtofavorite/{id}(id=${dichvu.getIdDichVu()})}">Add to favorite list</a></td>
        </tr>
    </th:block>
</table>
</div>
</body>
</html>