<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Register Service</h1>
    <p>
        <a th:href="@{/}">home</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/registerservice}" th:object="${hopdong}" method="post">
        <table>
            <tr>
                <td>
                    <input type="hidden" name="id" th:field="*{idHopDong}">
                </td>
            </tr>
            <tr>
                <td>Ngay lam hop dong</td>
                <td><input type="date" th:field="*{ngayLamHopDong}"/></td>
                <!--                <td th:if="${#fields.hasErrors('tenDichVu')}" th:errors="*{tenDichVu}">Error</td>-->
            </tr>
            <tr>
                <td>Ngay ket thuc</td>
                <td><input type="date" th:field="*{ngayKetThuc}"/></td>
                <!--                <td th:if="${#fields.hasErrors('dienTich')}" th:errors="*{dienTich}">Error</td>-->
            </tr>
            <tr>
                <td>Dich vu:</td>
                <td>
                    <select th:field="*{dichVu}">
                        <option th:each="p : ${dichvu}" th:value="${p.getIdDichVu()}"
                                th:text="${p.getTenDichVu()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Khach Hang:</td>
                <td>
                    <select th:field="*{khachHang}">
                        <option th:each="k : ${khachhang}" th:value="${k.getIdKhachHang()}"
                                th:text="${k.getHoTen()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Register Service"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>