<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/}">
        Back To List Product
    </a>
</p>
<div id="form">
<form th:action="@{/product/update}" th:object="${product}" method="post" >
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Name Product</label>
        <input type="text" th:field="*{nameProduct}">
    </div>
    <div>
        <label>Price Product</label>
        <input type="text" th:field="*{priceProduct}">
    </div>
    <div>
        <label>Description Product</label>
        <input type="text" th:field="*{descriptionProduct}">
    </div>
    <div>
        <label>Producer</label>
        <input type="text" th:field="*{producer}">
    </div>
    <input type="submit" value="Update">
</form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>