<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>customer</title>
</head>
<body>
<div class="container">
    <h2 style="color: darkorange">List Customer</h2>
    <p>
        <a th:href="@{/create}">
            Create Customer
        </a>
    </p>
    <div >
        <div th:if="${success}">
            <span style="color: red" th:text="${success}"></span>
        </div>
    </div>
    <table class="table table-warning">
        <thead>
        <tr>
            <th>ID</th>
            <th>Age</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cus : ${customers}">
            <td th:text="${cus.getId()}"></td>
            <td th:text="${cus.getAge()}"></td>
            <td th:text="${cus.getName()}"></td>
            <td th:text="${cus.getEmail()}"></td>
            <td><a th:href="@{/edit/{id}(id=${cus.getId()})}">edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${cus.getId()})}">delete</a></td>
            <td><a th:href="@{/view/{id}(id=${cus.getId()})}">view</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>